@import "tailwindcss";

@font-face {
    font-family: "SourceCodePro";
    src: url("/fonts/source-code-pro/SourceCodePro-VariableFont_wght.ttf") format('truetype');
}
@font-face {
    font-family: "Jersey 10";
    src: url("/fonts/jersey-10/Jersey10-Regular.ttf") format('truetype');
}

@custom-variant dark (&:where(.dark, .dark *));

@theme {

  /* Colors */
  --color-sky-purple: #5bdce1;
  --color-dark-purple: #201139;
  --color-faded-purple: #8778a2;
  --color-ebony: #120a20;
  --color-isabelline: #f5f5ef;
  --color-deep-lilac: #8454c4;
  --color-american-silver: #c9cdd3;
  --color-banana-yellow: #ffeb3a;
  --color-blue-jeans: #5cace6;
  --color-sea-serpent: #52babe;
  --color-dark-pastel-purple: #9e6cde;

  --color-typescript: #3178C6;
  --color-javascript: #F7DF1E;
  --color-react: #61DAFB;
  --color-html: #E34F26;
  --color-css: #1572B6;
  --color-tailwindcss: #38BDF8;
  --color-jest: #C63D14;
  --color-react-testing-library: #E33332;
  --color-git: #F05032;
  --color-webpack: #8DD6F9;
  --color-eslint: #4B32C3;
  --color-prettier: #F7B93E;

  /* Fonts */
  --font-base: "SourceCodePro", sans-serif;
  --font-title: "Jersey 10", sans-serif;

  /* Breakpoints */
  --breakpoint-xs: 360px;
}

html, body {
  margin: 0;
}